# Values for Production environment
replicaCount: 3
image:
  tag: "" # Set by CI/CD
ingress:
  enabled: true
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.tls: "true"
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
    traefik.ingress.kubernetes.io/router.middlewares: nexo-prod-ratelimit@kubernetescrd
  hosts:
    - host: api.nexo.io
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: nexo-be-prod-tls
      hosts:
        - api.nexo.io
resources:
  limits:
    cpu: 2000m
    memory: 2048Mi
  requests:
    cpu: 500m
    memory: 1024Mi
autoscaling:
  enabled: true
  minReplicas: 3
  maxReplicas: 10
  targetCPUUtilizationPercentage: 70
  targetMemoryUtilizationPercentage: 80
env:
  NODE_ENV: production
  LOG_LEVEL: warn
  SWAGGER_ENABLED: "false"
  METRICS_ENABLED: "true"
  KEYCLOAK_REALM: nexo-prod
podDisruptionBudget:
  enabled: true
  minAvailable: 2
affinity:
  podAntiAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      - labelSelector:
          matchExpressions:
            - key: app.kubernetes.io/name
              operator: In
              values:
                - nexo-be
        topologyKey: kubernetes.io/hostname
podAnnotations:
  app.kubernetes.io/commit: 063112b
