@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Spinner */
@layer components {
  .spinner {
    @apply inline-block w-4 h-4 border-2 border-white border-t-transparent rounded-full animate-spin;
  }
}
