apiVersion: v1
kind: Service
metadata:
  name: {{ include "nexo-auth.fullname" . }}
  labels: {{- include "nexo-auth.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "nexo-auth.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: keycloak
