apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://nexo-prometheus-dev:9090
    isDefault: true
    editable: false

  - name: Loki
    type: loki
    access: proxy
    url: http://nexo-loki-dev:3100
    editable: false
