# Values for Development environment
replicaCount: 1
image:
  # Para desenvolvimento local com K3D
  repository: ghcr.io/geraldobl58/nexo-fe
  tag: "develop-aeb4d381a91521c8d7517a40e307a7211d6d90da"
  pullPolicy: Always

imagePullSecrets:
  - name: ghcr-secret

ingress:
  enabled: true
  className: "nginx"
  annotations: {}
  hosts:
    - host: nexo-fe.local
      paths:
        - path: /
          pathType: Prefix
  tls: []
resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 256Mi
autoscaling:
  enabled: false
env:
  NODE_ENV: development
  NEXT_PUBLIC_API_URL: http://nexo-be.local
  NEXT_PUBLIC_KEYCLOAK_URL: http://nexo-auth.local
  NEXT_PUBLIC_KEYCLOAK_REALM: nexo-dev
  NEXT_PUBLIC_KEYCLOAK_CLIENT_ID: nexo-fe
podDisruptionBudget:
  enabled: false
podAnnotations:
  app.kubernetes.io/commit: "aeb4d38"
