# Default values for nexo-fe
replicaCount: 2
image:
  repository: docker.io/geraldobl58/nexo-fe
  pullPolicy: Always
  tag: "develop"
imagePullSecrets:
  - name: dockerhub-secret
nameOverride: ""
fullnameOverride: ""
serviceAccount:
  create: true
  annotations: {}
  name: ""
# CD updates this with commit SHA to force pod restart
podAnnotations:
  app.kubernetes.io/commit: "e7f92fb"
podSecurityContext:
  fsGroup: 1000
  runAsNonRoot: true
securityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true
  runAsNonRoot: true
  runAsUser: 1000
containerPort: 3000
service:
  type: ClusterIP
  port: 3000
ingress:
  enabled: true
  className: "traefik"
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.tls: "true"
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
  hosts:
    - host: app.nexo.io
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: nexo-fe-tls
      hosts:
        - app.nexo.io
resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 256Mi
autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 8
  targetCPUUtilizationPercentage: 70
nodeSelector: {}
tolerations: []
affinity:
  podAntiAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 100
        podAffinityTerm:
          labelSelector:
            matchExpressions:
              - key: app.kubernetes.io/name
                operator: In
                values:
                  - nexo-fe
          topologyKey: kubernetes.io/hostname
livenessProbe:
  httpGet:
    path: /
    port: http
  initialDelaySeconds: 20
  periodSeconds: 10
readinessProbe:
  httpGet:
    path: /
    port: http
  initialDelaySeconds: 10
  periodSeconds: 5
env:
  NODE_ENV: production
  NEXT_PUBLIC_API_URL: https://api.nexo.io
  NEXT_PUBLIC_KEYCLOAK_URL: https://auth.nexo.io
  NEXT_PUBLIC_KEYCLOAK_REALM: nexo-prod
  NEXT_PUBLIC_KEYCLOAK_CLIENT_ID: nexo-fe
podDisruptionBudget:
  enabled: true
  minAvailable: 1
