# Values for Development environment
replicaCount: 1
image:
  # Para desenvolvimento com GHCR
  repository: ghcr.io/geraldobl58/nexo-fe
  tag: "develop-eed71f986c037301ffd206354cc497a9c711a85f"
  pullPolicy: Always

imagePullSecrets:
  - name: ghcr-secret

ingress:
  enabled: true
  className: "nginx"
  annotations: {}
  hosts:
    - host: nexo-fe.local
      paths:
        - path: /
          pathType: Prefix
  tls: []
resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 256Mi
autoscaling:
  enabled: false
env:
  NODE_ENV: development
  NEXT_PUBLIC_API_URL: http://nexo-be.local
  NEXT_PUBLIC_KEYCLOAK_URL: http://nexo-auth.local
  NEXT_PUBLIC_KEYCLOAK_REALM: nexo-dev
  NEXT_PUBLIC_KEYCLOAK_CLIENT_ID: nexo-fe
podDisruptionBudget:
  enabled: false
podAnnotations:
  app.kubernetes.io/commit: "eed71f9"

# Metrics configuration for dev
metrics:
  enabled: true
  path: /api/metrics
  serviceMonitor:
    enabled: false
    interval: 15s
    scrapeTimeout: 10s
    labels:
      release: monitoring
